@import '~node_modules/modern-normalize/modern-normalize.css';

/**.gallery {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 200px;
    
    grid-gap: 12px;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}*/

.photo-card {
    display:flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

        
}

.info{
   
    display: flex;
    flex-direction: row;
    font-size: 12;
}

.info-item {
    margin-right: 10px;
}

.info-item:first-child {
    margin-left: 10px;
}

img {
    height: 100%;
    width: 100%;
   // width: 220px;
  //  height: 200px;
    object-fit: cover;
    //transition: transform var(--animation-duration) var(--timing-function);
}

.gallery{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}